# Clean Data

## Basic cleaning of the dataset

In [1]:
import numpy as np
import pandas as pd

In [2]:
# We imported our original data

datasheet = pd.read_csv('data/data.csv')

In [3]:
# We confirm that it has been loaded correctly

datasheet.head()

,Property ID,Locality name,Postal code,Price,Type of property,Subtype of property,Number of rooms,Living area,Equipped kitchen,Furnished,Open fire,Terrace,Garden,Number of facades,Swimming pool,State of building,Garden Surface,Terrace Surface,Price per m2
0,VWD15538,Seneffe,7180,410000,House,Villa,4.0,175.0,1,0,0,1,1,4.0,0,Normal,NaN,NaN,2342.857143
1,RBU63284,Hennuyères,7090,750000,House,House,4.0,550.0,0,0,0,1,1,4.0,0,Normal,1085.0,30.0,1363.636364
2,VBD47252,La Louvière,7100,175000,Appartment,Flat,2.0,76.0,1,0,0,1,0,2.0,0,Unknown,NaN,NaN,2302.631579
3,RBU62400,Solre-sur-Sambre,6560,80000,House,House,3.0,235.0,0,0,0,1,0,3.0,0,To be renovated,NaN,30.0,340.425532
4,RBU62399,Mons,7000,195000,House,House,2.0,103.0,0,0,0,1,1,NaN,0,Unknown,80.0,10.0,1893.203883

In [4]:
'''We display the column names to help us to decide which ones can be deleted.'''

datasheet.columns

Index(['Property ID', 'Locality name', 'Postal code', 'Price',
       'Type of property', 'Subtype of property', 'Number of rooms',
       'Living area', 'Equipped kitchen', 'Furnished', 'Open fire', 'Terrace',
       'Garden', 'Number of facades', 'Swimming pool', 'State of building',
       'Garden Surface', 'Terrace Surface', 'Price per m2'],
      dtype='object')

In [5]:
# We make a copy to work more securely

df_clean = datasheet.copy()

# We removed the column 'Property ID'
df_clean = df_clean.drop(columns=['Property ID'])

df_clean.columns

Index(['Locality name', 'Postal code', 'Price', 'Type of property',
       'Subtype of property', 'Number of rooms', 'Living area',
       'Equipped kitchen', 'Furnished', 'Open fire', 'Terrace', 'Garden',
       'Number of facades', 'Swimming pool', 'State of building',
       'Garden Surface', 'Terrace Surface', 'Price per m2'],
      dtype='object')

We analyze how many NaN values ​​we have

In [6]:
print(df_clean.shape)

df_clean.isnull().sum()

(6850, 18)

Locality name             0
Postal code               0
Price                     0
Type of property          0
Subtype of property       0
Number of rooms         124
Living area             398
Equipped kitchen          0
Furnished                 0
Open fire                 0
Terrace                   0
Garden                    0
Number of facades      1850
Swimming pool             0
State of building         0
Garden Surface         5237
Terrace Surface        4257
Price per m2            398
dtype: int64

Now we'll calculate how many NaNs there are in each column, and if it's more than 70%, we'll remove that column.
If it's less, we'll keep the column.

In [ ]:
column_NaN = [] # a list of the columns that will be removed


for column in df_clean.columns:
    amount_NaN = df_clean[column].isnull().sum()

    percentage = amount_NaN * 100 / df_clean.shape[0]

    if percentage > 70:
        
        column_NaN.append(column) # add the column name to the list

print(column_NaN)


# We removed the identified columns
for col in column_NaN:
    df_clean = df_clean.drop(columns=[col])


df_clean.columns

['Garden Surface']

Index(['Locality name', 'Postal code', 'Price', 'Type of property',
       'Subtype of property', 'Number of rooms', 'Living area',
       'Equipped kitchen', 'Furnished', 'Open fire', 'Terrace', 'Garden',
       'Number of facades', 'Swimming pool', 'State of building',
       'Terrace Surface', 'Price per m2'],
      dtype='object')

In [ ]:
# We have removed the 'Garden Surface' column

df_clean

,Locality name,Postal code,Price,Type of property,Subtype of property,Number of rooms,Living area,Equipped kitchen,Furnished,Open fire,Terrace,Garden,Number of facades,Swimming pool,State of building,Terrace Surface,Price per m2
0,Seneffe,7180,410000,House,Villa,4.0,175.0,1,0,0,1,1,4.0,0,Normal,NaN,2342.857143
1,Hennuyères,7090,750000,House,House,4.0,550.0,0,0,0,1,1,4.0,0,Normal,30.0,1363.636364
2,La Louvière,7100,175000,Appartment,Flat,2.0,76.0,1,0,0,1,0,2.0,0,Unknown,NaN,2302.631579
3,Solre-sur-Sambre,6560,80000,House,House,3.0,235.0,0,0,0,1,0,3.0,0,To be renovated,30.0,340.425532
4,Mons,7000,195000,House,House,2.0,103.0,0,0,0,1,1,NaN,0,Unknown,10.0,1893.203883
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6845,Anderlecht,1070,280000,Appartment,Flat,2.0,109.0,0,0,0,1,0,2.0,0,Normal,28.0,2568.807339
6846,Schaarbeek,1030,300000,Appartment,Flat,2.0,81.0,0,0,0,1,0,NaN,0,Normal,3.0,3703.703704
6847,Ukkel,1180,1050000,Appartment,Flat,4.0,240.0,1,1,0,1,0,NaN,1,Excellent,20.0,4375.000000
6848,Sint-Gillis,1060,745000,House,House,6.0,235.0,1,1,0,1,1,2.0,0,Fully renovated,25.0,3170.212766
6849,Vorst,1190,540000,House,House,4.0,240.0,1,0,0,1,1,2.0,0,To be renovated,16.0,2250.000000

Antes de empezar, debemos de definir nuestros valores X e y.

In [ ]:
y = df_clean['Price'] # we define 'y' value, the 'target'


target_column ='Price'
features = df_clean.drop(columns=[target_column])

# X
X = df_clean.drop(columns=['Price'])

Now that we have defined our target and features, we need to split them into X_train, X_test, y_train, and y_test.

Furthermore, we need to perform a train-test split, dividing our data into X_train, X_test, y_train, and y_test.

In [10]:
from sklearn.model_selection import train_test_split 

X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=42, test_size=0.2)

We analyze if the division has been performed correctly according to the percentages.

In [ ]:
'''
6850 rows and test_size=0.2

X_train --> 80 % rows ---> 5480
X_test  --> 20 % rows ---> 1370

'''

print ( X_train.shape[0] )
print ( X_test.shape[0] )

5480
1370

Now that we have divided our DataFrame, we apply the 'inputation' to correct those cells that have NaN values

In [12]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5480 entries, 297 to 860
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Locality name        5480 non-null   object
 1   Postal code          5480 non-null   int64
 2   Type of property     5480 non-null   object
 3   Subtype of property  5480 non-null   object
 4   Number of rooms      5383 non-null   float64
 5   Living area          5164 non-null   float64
 6   Equipped kitchen     5480 non-null   int64
 7   Furnished            5480 non-null   int64
 8   Open fire            5480 non-null   int64
 9   Terrace              5480 non-null   int64
 10  Garden               5480 non-null   int64
 11  Number of facades    3977 non-null   float64
 12  Swimming pool        5480 non-null   int64
 13  State of building    5480 non-null   object
 14  Terrace Surface      2073 non-null   float64
 15  Price per m2         5164 non-null   float64
dtypes: float64(5), int64(7), object(4)
memory usage: 727.8+ KB

En el siguiente porgrama sustituimos los valores NaN por la mediana o la moda segun la columna

In [13]:

from sklearn.impute import SimpleImputer

dict_imputers ={}

for X_column in X_train.columns:

    data_type = X_train[X_column].dtype

    if np.issubdtype(data_type, np.number):

        imputer = SimpleImputer(missing_values=np.nan, strategy='median')

        imputer.fit(X_train[[X_column]])   # calculate the median
        dict_imputers[X_column] = imputer

        imputer_values = imputer.transform(X_train[[X_column]])  # NaN are replaced by the calculated value
        X_train[X_column] = imputer_values     # reassign that entire column



    if data_type == object:
        
        imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

        imputer.fit(X_train[[X_column]])   # calculate the mode
        dict_imputers[X_column] = imputer

        imputer_values = imputer.transform(X_train[[X_column]])  # NaN are replaced by the calculated value
        
        X_train[X_column] = imputer_values.ravel() # reassign that entire column and change to 1D


for X_column in X_test.columns:

    if X_column in dict_imputers:

        imputer = dict_imputers[X_column]
        X_test[X_column] = imputer.transform(X_test[[X_column]]).ravel() # reassign that entire column and change to 1D



# Check if we have still NaN values 

print(X_train.isna().sum().sum())
print(X_test.isna().sum().sum())

0
0

Converting categorical data into numeric features (hint: one-hot encoding)

In [ ]:
X_train.info()

we preprocess the training and test datasets. 
We handle missing values, encode categorical variables as binary (One-Hot Encoding), 
and scale numerical features. After these transformations, X_train and X_test 
are fully numeric, clean, and ready to be used with machine learning models.

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

# We created two lists to identify which columns are categorical or numeric.

categorical_cols = []
numeric_cols = []


for X_column in X_train.columns:

    data_type = X_train[X_column].dtype

    if data_type in ['float64', 'int64']:
        numeric_cols.append(X_column)

    elif data_type == object:
        categorical_cols.append(X_column)


ohe = OneHotEncoder(sparse=True, handle_unknown='ignore')


ct = ColumnTransformer([
    ('categorical', ohe, categorical_cols),
    ('numerical', StandardScaler(), numeric_cols)
])


ct.fit(X_train) # learn parameters
X_train = ct.transform(X_train) # Applies the transformations and returns the processed data

X_test = ct.transform(X_test) # Use the same parameters learned from train

Save the clean data X_train, X_test, y_train, y_test

In [ ]:
import pickle

# Save the preprocessed data
with open("preprocessed_data.pkl", "wb") as f:
    pickle.dump((X_train, X_test, y_train, y_test), f)